.profile-card {
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  border-radius: 8px;
  padding: 25px;
}

.app.dark .profile-card {
  background: #262626;
  color: #ddd;
}

.profile-title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #0d6efd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-title i{
    font-size: 100px;
}

.profile-form .form-label {
  font-weight: 500;
}

.profile-form .form-control[readonly] {
  background-color: #f8f9fa;
  cursor: not-allowed;
}

.app.dark .profile-form .form-control {
  background-color: #333;
  color: #ddd;
}
