.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.auth-card {
  width: 400px;
  border-radius: 12px;
  background-color: #fff;
}
