

.card-item-setting {
  border: 1px solid #ebedee;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.3s;
}

.card-item-setting {
  background: #ebedee;
}

.app.dark .card-item-setting {
  background: #2d2d2d;
  color: #ebedee;
}

.form-check-input {
  cursor: pointer;
}

.card-item-setting:hover {
  transform: translateY(-3px);
}
